.dropdown {
  list-style: none;
  text-decoration: none;
  background-color: var(--primary);
  display: none;
}
.show {
  display: block;
}
ul {
  width: 100%;
  padding: 0;
  margin: 0;
}
li {
  color: var(--creme-white);
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
a:link {
  text-decoration: none;
  color: var(--creme-white);
}
a:visited{
  color: var(--creme-white);
}

.dropdown > li:hover {
  background-color: var(--primary-light);
}