.meet-team-body {
    margin-top: 50px;
    margin-left: 24px;
    margin-right: 24px;
    width: calc(100%-48px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
 
}

.title {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    align-content: center;
    
}   

.title>*{
    margin: 1px;
    padding-left: 2%;
}

.title p {
    color: #828282;

}

@media only screen and (min-width: 768px){

}