.meet-tutor-body {
    margin-left: 24px;
    margin-right: 24px;
    width: calc(100%-48px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
    justify-content: left;
    gap: 8px;
 
}
.titleName h2 {
    margin-top: 70px;
}

.titleName {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    
}   

.titleName>*{
    margin-top: 1px;
    padding-left: 2%;
}

.titleName p {
    color: #828282;
}

@media only screen and (min-width: 768px) {
    .meet-tutor-body{
        justify-content: space-evenly;
        margin-bottom: 10%;
    }
}
