.body {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
    justify-content: left;
    gap: 15px;
 
}
.titleTutor h2 {
    margin-top: 70px;
}

.title {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    margin-left: 5px;
}   

.title>*{
    margin-top: 1px;
}

.title p {
    color: #828282;

}
