.body {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
    justify-content: left;
    gap: 15px;
 
}
.titleName h2 {
    margin-top: 70px;
}

.titleName {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    
}   

.titleName>*{
    margin-top: 1px;
    padding-left: 2%;
}

.titleName p {
    color: #828282;

}
