.body {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
 
}

.title {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    margin-left: 5px;
}   

.title>*{
    margin: 1px;
}

.title p {
    color: #828282;

}
