div p, h1, h2, h3 {  /* spacing for all left-aligned text */
    margin-left: 1rem;
    margin-right: 1rem;
}

.image-1 {
    position: relative;
    width: 100%;
}

.image-1 img {
    width: 100%;
    height: auto;
}

.image-text {
    color: var(--creme-white);
    position: absolute;
    z-index: 1;
    bottom: 1.25rem;
}

.image-subtext {
    color: var(--creme-white);
    position: absolute;
    z-index: 1;
    bottom: 0;
    line-height: 1.2;
}

.image-1 p {
    border-top: 10rem;
}

.text {
    margin-bottom: 3rem;
}

.text p {
    color: var(--gray500)
}

.red {
    text-align: center;
    font-size: 1.125rem;
    color: var(--primary)
}

.grade-finder {
    background: rgba(255, 146, 114, 0.2);
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.image-2 img {
    width: 100%;
    height: auto;
}

.image-2 h3 {
    font-size: 1.875rem;
}

.image-2 p{
    color: var(--gray500)
}

/* temporary button css until button component exists */
.button-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

button {
    margin: 0.1rem;
    color: white;
    font-family: 'Jost';
    padding: 1rem 1.5rem;
    width: 80%;
    border: none;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--primary);
}

button:nth-child(1) {
    background-color: var(--primary);
}

button:nth-child(2) {
    background-color: var(--secondary-yellow);
}

button:nth-child(3) {
    background-color: var(--secondary-teal);
}

button:nth-child(4) {
    background-color: var(--secondary-blue);
}

button:nth-child(5) {
    background-color: #8E41CA;
}