.image {
  width: 100%;
  height: auto;
}
p {
  white-space: pre-wrap;
}
.page-content {
  margin: 0 1.25em;
}
.goals-heading {
  text-align: center;
}
.portrait {
  display: inline-block;
  position: relative;
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 50%;
}
.portrait > img {
  width: auto;
  height: 100%;
  margin-left: -20px;
}