div p, h1, h2, h3 {  /* spacing for all left-aligned text */
    margin-left: 1rem;
    margin-right: 1rem;
}

.image-1 {
    background-color: var(--gray500);
}

.image-1 h1 {
    color: var(--creme-white);
}

.image-1 p {
    color: var(--creme-white);
}

.text {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.text p {
    color: var(--gray500)
}

.red {
    text-align: center;
    font-size: 18px;
    color: var(--primary)
}

.grade-finder {
    background: rgba(255, 146, 114, 0.2);
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.image-2 h3 {
    font-size: 30px;
}

.image-2 p{
    color: var(--gray500)
}

.button-text {
    color: var(--creme-white)
}