/* Import fonts from google */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital@0;1&family=Manrope:wght@700&display=swap');

/* global css variables */
html {
    --primary: #E84D28;
    --primary-light: #FF9272;
    --secondary-blue: #4158CA;
    --secondary-blue-light: #8695DD;
    --secondary-yellow: #FED74C;
    --secondary-yellow-light: #FFE68D;
    --secondary-teal: #2CADB1;
    --secondary-teal-light: #AADADC;

    --creme-white: #FCFBFA;
    --gray-100: #E6E6E6;
    --gray-200: #CECFCD;
    --gray300: #C8C8C8;
    --gray400: #AAAAAA;
    --gray500: #828282;
    --gray600: #3B3D3B;
    --dark: #3B3D3B;
}

:root {
    font-family: 'Jost', sans-serif;
}

body {
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
}

h1 {
    font-size: 2.5rem;
    line-height: 3.4375rem;
}

h2 {
    font-size: 2rem;
    line-height: 2.75rem;
}

h3 {
    font-size: 1.5625rem;
    line-height: 2.125rem;
}

p, .p-large {
    font-family: 'Jost', sans-serif;
    font-size: 1.375rem;
    line-height: 2rem;
}

.p-medium {
    font-size: 1.125rem;
    line-height: 1.625rem;
}

.p-small {
    font-size: 1rem;
    line-height: 1.4375rem;
}

label{
    width: 342px;
    height: 32px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 2rem;
    color: var(--gray600);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.required:after {
    content:" *";
    color: var(--primary);
}

input{
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 12px 20px;
    
    width: calc(100% - 48px);
    height: 32px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 2rem;
    color: var(--gray200);
    flex: none;
    order: 0;
    flex-grow: 0;
}

textarea{
    height: 150px;
    width: calc(100% - 48px);
    padding: 12px 20px;
    margin: 8px 0;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 2rem;
    flex: none;
    order: 0;
    flex-grow: 0;
    resize: none;
    /*width: 92px;
    height: 32px;*/
}

input::placeholder {
    color: var(--gray-200);
}

textarea::placeholder {
    color: var(--gray-200);
}

input[type="submit"]{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 5.1px;
    width: 332px;
    height: 65px;
    background: var(--primary);
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor:pointer;
    color: var(--creme-white);
    border: none;
}